<web-app xmlns="http://xmlns.jcp.org/xml/ns/javaee"
         xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance"
         xsi:schemaLocation="http://xmlns.jcp.org/xml/ns/javaee 
		 http://xmlns.jcp.org/xml/ns/javaee/web-app_3_1.xsd"
         version="3.1">
	<display-name>Archetype Created Web Application</display-name>
	<servlet>
		<servlet-name>Blocking</servlet-name>
		<servlet-class>com.dexels.blocking.SQLServletBlocking</servlet-class>
	</servlet>
	<servlet>
		<servlet-name>SQLServletSimpleADBABlocking</servlet-name>
		<servlet-class>com.dexels.adba.SQLServletSimpleADBABlocking</servlet-class>
	</servlet>
	<servlet>
		<servlet-name>SQLServletADBABlocking</servlet-name>
		<servlet-class>com.dexels.adba.SQLServletADBABlocking</servlet-class>
	</servlet>
	<servlet>
		<servlet-name>SQLServletADBABlockingAsync</servlet-name>
		<servlet-class>com.dexels.adba.SQLServletADBABlockingAsync</servlet-class>
		<async-supported>true</async-supported>
	</servlet>
	<servlet>
		<servlet-name>SQLServletADBANonBlocking</servlet-name>
		<servlet-class>com.dexels.adba.SQLServletADBANonBlocking</servlet-class>
		<async-supported>true</async-supported>
	</servlet>
	<servlet>
		<servlet-name>SQLServletADBANonBlockingBackpressure</servlet-name>
		<servlet-class>com.dexels.adba.SQLServletADBANonBlockingBackpressure</servlet-class>
		<async-supported>true</async-supported>
	</servlet>	
	<servlet>
		<servlet-name>SQLServletR2DBC</servlet-name>
		<servlet-class>com.dexels.r2dbc.SQLServletR2DBC</servlet-class>
		<async-supported>true</async-supported>
	</servlet>
	<servlet>
		<servlet-name>SQLServletR2DBCAdvanced</servlet-name>
		<servlet-class>com.dexels.r2dbc.SQLServletR2DBCAdvanced</servlet-class>
		<async-supported>true</async-supported>
	</servlet>		
	<servlet-mapping>
		<servlet-name>Blocking</servlet-name>
		<url-pattern>/Blocking</url-pattern>
	</servlet-mapping>
	<servlet-mapping>
		<servlet-name>SQLServletSimpleADBABlocking</servlet-name>
		<url-pattern>/SQLServletSimpleADBABlocking</url-pattern>
	</servlet-mapping>
	<servlet-mapping>
		<servlet-name>SQLServletADBABlocking</servlet-name>
		<url-pattern>/SQLServletADBABlocking</url-pattern>
	</servlet-mapping>
	<servlet-mapping>
		<servlet-name>SQLServletADBABlockingAsync</servlet-name>
		<url-pattern>/SQLServletADBABlockingAsync</url-pattern>
	</servlet-mapping>	
	<servlet-mapping>
		<servlet-name>SQLServletADBANonBlocking</servlet-name>
		<url-pattern>/SQLServletADBANonBlocking</url-pattern>
	</servlet-mapping>
	<servlet-mapping>
		<servlet-name>SQLServletADBANonBlockingBackpressure</servlet-name>
		<url-pattern>/SQLServletADBANonBlockingBackpressure</url-pattern>
	</servlet-mapping>
	<servlet-mapping>
		<servlet-name>SQLServletR2DBC</servlet-name>
		<url-pattern>/SQLServletR2DBC</url-pattern>
	</servlet-mapping>
	<servlet-mapping>
		<servlet-name>SQLServletR2DBCAdvanced</servlet-name>
		<url-pattern>/SQLServletR2DBCAdvanced</url-pattern>
	</servlet-mapping>
</web-app>
